<html>
<head>
  <meta charset="utf-8">
  <title>Love 048</title>

  <link href="/assets/2048-with-IMAGES/style/main.css" rel="stylesheet" type="text/css">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div class="container">
    <div class="heading">
      <h1 class="title">Love048</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="above-game">
      <p class="game-intro">团子鱼的进化之路</p>
      <a class="restart-button">开始进化</a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p style="font-size:40px; "></p>
        <div class="lower">
	        <a class="keep-playing-button">抱走团子鱼～</a>
          <a class="retry-button">不要放弃团子鱼～</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>
    <hr>
    <hr>
  </div>
  <script>
			window.addEventListener('load', () => {
				// noinspection JSUnresolvedVariable
				let audioCtx = new (window.AudioContext || window.webkitAudioContext)();
				let xhr = new XMLHttpRequest();
				xhr.open('GET', '/assets/2048-with-IMAGES/13jours.mp3');
				xhr.responseType = 'arraybuffer';
				xhr.addEventListener('load', () => {
					let playsound = (audioBuffer) => {
						let source = audioCtx.createBufferSource();
						source.buffer = audioBuffer;
						source.connect(audioCtx.destination);
						source.loop = false;
						source.start();

						setTimeout(function () {
							let t = document.createElement('p');
							t.appendChild(document.createTextNode((new Date()).toLocaleString() + ': Sound played'));
							document.querySelector('.output').appendChild(t);
							playsound(audioBuffer);
						}, 1000 + Math.random()*2500);
					};

					audioCtx.decodeAudioData(xhr.response).then(playsound);
				});
				xhr.send();
			});
  </script>

  <script src="/assets/2048-with-IMAGES/js/bind_polyfill.js"></script>
  <script src="/assets/2048-with-IMAGES/js/classlist_polyfill.js"></script>
  <script src="/assets/2048-with-IMAGES/js/animframe_polyfill.js"></script>
  <script src="/assets/2048-with-IMAGES/js/keyboard_input_manager.js"></script>
  <script src="/assets/2048-with-IMAGES/js/html_actuator.js"></script>
  <script src="/assets/2048-with-IMAGES/js/grid.js"></script>
  <script src="/assets/2048-with-IMAGES/js/tile.js"></script>
  <script src="/assets/2048-with-IMAGES/js/local_storage_manager.js"></script>
  <script src="/assets/2048-with-IMAGES/js/game_manager.js"></script>
  <script src="/assets/2048-with-IMAGES/js/application.js"></script>
</body>
</html>
